/* Sticky footer styles
------------------------------ */
html {
    position: relative;
    min-height: 100%;
}

#page-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #FFF5E6;
}

/* Custom page CSS
----------------------- */
#wrapper {
    padding: 60px 0px 70px 0px; 
}

.asteriskField {
    color: red;
}

.highlight {
    background-color: #ffffb3; /*  #FCF8E3 */
    color: #999;
}

/* bootstrap by default add 20px margin-bottom, which is too much */
.alert {
    margin-bottom: 5px;
}