/* Sticky footer styles
------------------------------ */
html {
    position: relative;
    min-height: 100%;
}

#page-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #FFF5E6;
}

/* Custom page CSS
----------------------- */
#wrapper {
    padding: 60px 5px 70px 5px; 
}

.asteriskField {
    color: red;
}

.highlight {
    background-color: #FCF8E3;
    color: #999;
}