/* Sticky footer styles
------------------------------ */
html {
    position: relative;
    min-height: 100%;
}

#page-footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #FFF5E6; /* #D6E0EB; */ /* #f5f5f5; */
}

/* Custom page CSS
----------------------- */
body > .container-fluid {
    padding: 60px 15px; 
}

.page-header {
    margin-top: 0px;
}

.asteriskField {
    color: red;
}

#logo {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    background: #B20838 none repeat scroll 0% 0%;
    background-color: #B20838;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#logo img {
    margin-top: 16px;
    margin-left: 79px;
    width: 190px;
    height: 52px;
    border: 0px none;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: -moz-use-text-color;
    border-right-color: -moz-use-text-color;
    border-bottom-color: -moz-use-text-color;
    border-left-color: -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
}